﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>  
  <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
  <body>
    <section id="main">
    @RenderBody()
    </section>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", false)
  </body>
</html>
