﻿@using Backboned
@model Backboned.Models.Person
@{
  ViewBag.Title = "Knockback Example";
}
<h1>@ViewBag.Title</h1>

<div id="messenger" class="message" data-bind="text:message, fadingMessage:message, css:{error:isError}"></div>
<div class="container">
  <p data-bind="text:welcome">&nbsp;</p>
  Edit: <input type="checkbox" data-bind="checked:isEditMode"/>
  <dl data-bind="enable: isEditMode">
    <dt><input class="input" type="text" data-bind="value:Name, valueUpdate:'keyup', enable: isEditMode"/></dt>
    <dt><input class="input" type="text" data-bind="value:Age, enable: isEditMode"/></dt>
  </dl>
  <table>
    <thead>
      <tr>
        <th>Street</th>
        <th>Number</th>
        <th></th>
      </tr>
    </thead>
    <tbody data-bind="foreach: Addresses">
    <tr data-bind="enable: $parent.isEditMode">
      <td><input type="text" data-bind="value: Street" /></td>
      <td><input type="text" data-bind="text: Number" /></td>
      <td class="ui-button" data-bind="click: $parent.removeAddress, visible:$parent.isEditMode"><span class="ui-button">[-]</span></td>
    </tr>
    </tbody>
  </table>
    <input type="button" value="save" data-bind="click: save, visible:isEditMode && isDirty"/>
    <input type="button" value="add" data-bind="click: addAddress, visible:isEditMode"/>
</div>

<p data-bind="text:welcome">No data-binding in this element, because it's outside of <span class="italic">container</span>.</p>

@section scripts
{
  @Scripts.Render("~/bundles/home")
  <script type="text/javascript">
    $(function() {
      var model = new backboned.models.Person(@(Html.Raw(Model.JsonSerialize())));
      var messageModel = new backboned.common.MessageViewModel();
      var viewModel = new backboned.home.ViewModel(model, { writer: messageModel });
      ko.applyBindings(messageModel, $("#messenger")[0]);
      ko.applyBindings(viewModel, $("div.container")[0]);
    });
  </script>
}
