﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 8px;
}

header, footer, nav, section {
    display: block;
}

#main {
  border: solid 1px;
  padding: 4px;
}

.container {
  padding: 4px;
  border: solid 1px goldenrod;
}

.input {
  padding-top: 2px;
  padding-bottom: 2px;
  border: solid 1px black;
  background-color: khaki;
}

.message {
  text-align: center;
  background-color: green;
  color: white;
}

.italic {
  font-style: italic;
}

.error {
  background-color: red;
  color: white;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

